/** @format */

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin abs_center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin rel_center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
