
@use "variables" as *;
@use "base" as *;
@use "mixins" as *;

.heading {
	&_primary {
		color: $white;
		text-transform: uppercase;

		&-main {
			display: block;
			font-size: $font-xxlarge;
			font-weight: 600;
			letter-spacing: 2.5rem;
			text-align: center;

			-webkit-animation-name: moveInLeft;

			animation-name: moveInLeft;
			-webkit-animation-duration: 3s;
			animation-duration: 3s;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		&-sub {
			display: block;
			font-size: $font-large;
			font-weight: 500;
			letter-spacing: 0.5rem;
			text-align: center;
			margin-bottom: 5rem;

			-webkit-animation-name: moveInRight;

			animation-name: moveInRight;
			-webkit-animation-duration: 3s;
			animation-duration: 3s;
			-webkit-animation-delay: 2s;
			animation-delay: 2s;
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}
	}
	&_secondary {
		font-size: $font-xxlarge;
		color: $teal;
		text-transform: uppercase;
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-weight: 400;

		&:hover {
			text-shadow: 0.5rem 1rem 2rem rgba($tealDark, 0.2);
			transform: skewX(2deg) skew(10deg) scale(1.1);
			transition: transform 0.3s;
		}

		&-partners {
			color: $teal;
		}
	}

	&_tertiary {
		font-size: $font-xlarge;
		text-transform: capitalize;
		color: $white;
		font-weight: 400;

		&-solutions {
			color: $teal;
			font-size: $font-xlarge;
			font-weight: 400;
			text-align: center;
			margin-bottom: 1rem;
		}
	}
}

.long_copy {
    max-width: 70%;
    margin-bottom: 2rem;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}