/** @format */

//COLORS
$orange: #e67e22;
$white: #ffffff;
$darkWhite: #c3bdbd;
$black: #000000;

$gray: #808080;
$lightGray: #d3d3d3;
$darkGray: #333333;

$teal: #008080;
$tealDark: #008080d8;

$ivory: #fffff0;
$silver: #c0c0c0;

//FONTS
$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 1.25rem;
$font-xlarge: 1.5rem;
$font-xxlarge: 2rem;

//BOX SHADOW
$box-shadow: 0 1.5rem 4rem rgba($black, 0.15);

//BUTTONS
$btn-border-radius: 20rem;
$btn-font-weight: 400;
$btn-padding: 0.8rem 2rem;
$default-font: 2rem;
$primary-font: 1.75rem;

//GRID
$grid-width: 100vw;
$gutter-vertical: 2vh;
$gutter-vertical-small: 0.5vh;
$gutter-horizontal: 2vw;
